[2016-08-17 18:07] liamjar4s opened #1 "Only one field from a compound index gets exported"
I've just tried running this tool on a MySQL database with compound indexes, and found that only one of the indexed columns gets exported out of many.

I've dumped the output from the "real" database and the newly migrated one and compared the two dumps.

What is expected:

[code]

What actually happens:

[code]

I have a similar index with 3 columns - it appears only the final column in the index

[2016-08-17 18:09] liamjar4s commented on #1
I'm going to attempt to look into this over the next few days,  as this tool is greatly beneficial to me, and it's the least I can do to say thanks!

:grin:

[2016-09-16 11:59] odan commented on #1
Currently implementing a fix for this issue.

[2016-09-20 15:20] odan commented on #1
Should be fixed. Please delete the old schema.php file and create a new migration.

[2017-02-24 05:32] lucien144 opened #6 "Indexes are generated mostly as unique"
[This check](https://github.com/odan/phinx-migrations-generator/blob/master/src/Migration/Adapter/Generator/PhinxMySqlGenerator.php#L937) returns always `FALSE` because `isset()` is case sensitive when testing assicative arrays ([reference](http://php.net/manual/en/function.isset.php#87521)).

As `SHOW INDEX FROM {table};` don't usually return columns names in uppercase, this `isset($indexData['NO

[2017-02-24 10:44] odan commented on #6
Right, the index names should be 'Non_unique', 'Key_name' and 'Index_type'.
Using array_map is not necessary. Can you just rename the index names please?

[2017-03-04 17:00] #6 closed

[2017-03-08 23:44] MACscr opened #7 "Ive generated a default, now what?"
Apologies for my ignorance as I have no experience with your solution or phinx until now, but how should i go about using your solution after Ive generated the default schema, and initial '20170308233115_Test.php', etc?

Can I know make changes directly to the mysql db schema and then run your generator to create a new file with the alterations?

How should I go about implementing those alteration

[2017-03-09 00:23] MACscr commented on #7
Ah, ok, so when I run the generation, it does indeed create a new schema and migration file. Now I guess I just have to figure out how to use those migration files. lol

[2017-03-09 10:21] odan commented on #7
Hi, you can use the [Phinx](https://phinx.org/) `migrate` command to run the generated migration files.

http://docs.phinx.org/en/latest/commands.html#the-migrate-command

[2017-03-09 17:23] MACscr commented on #7
Do I just use the name that was set using your tool? Like phinx migrate -e test? Do I need to go through all the phinx init and setup process first or does your tool take care of that?

- Mark

[2017-03-09 21:04] odan commented on #7
This tool is no 'wrapper' for phinx, it's a just replacement for the lazy `phinx create MyNewMigration` command.  The problem is that Phinx cannot generate migrations automatically. Phinx "only" generates an empty class with up() and down() class methods. You still have to write the migration manually. This tool is trying to fill the gap. Instead of calling the `phinx create` command you call the

[2017-04-02 23:06] lunetics commented on #7
Sounds neat! new to phinx and your tool helps alot.

[2017-04-04 22:25] odan commented on #7
The new version (1.0.0) uses the phinx configuration and environment settings. Please try it. I am looking forward to your feedback.

[2017-04-05 13:43] #7 closed

[2017-04-19 13:25] jonneroelofs opened #8 "Question: What is the purpose of the initial migration file?"
Could you tell me what the purpose is of the initial migration file? To what is it comparing the current schema?

I ask because it generates a migration file that I cannot run because it contains migration commands that are already in my schema.

I'm probably missing something.

Great tool btw!

[2017-04-19 21:54] odan commented on #8
Hi!

The `schema.php` file contains the database schema since the last time you have called the "generate" command. Everytime you call the "generate" command, this tools compares the current (local) database tables and fields with the schema definitions in `schema.php`. Based on the difference, a new phinx migrations class is generated. After that you can make changes in the database and run the "

[2017-04-20 03:20] gotoin opened #9 "I am so support your program, but some bugs still exists."
when execute vendor/bin/phinx migrate
It will be returned

  [PDOException]
  SQLSTATE[42000]: Syntax error or access violation: 1075 Incorrect table def
  inition; there can be only one auto column and it must be defined as a key

and I confirm my SQL can normal use , please help me to look this 。
thank you

[2017-04-20 06:58] jonneroelofs commented on #8
Hi Daniel,

Thanks for you explanation. Great new feature. That feature actually solves a lot of what I was confused about.

I do still wonder about the very first time you run the generate command. Should that not generate only the schema and no migration? Because it seems to me that the very first time you take the entire schema as the baseline and from that baseline there are no changes at that

[2017-04-20 07:29] jonneroelofs opened #10 "Phinx.yml compatibility"
Hi,

We like to keep our db connection info, and therefore the phinx.yml, outside of our web root folder and the db/migrations inside the web folder. For example:

-private
--phinx.yml
-web
--db
---migrations

I got this to work for Phinx with a wildcard like below. We use the wildcard because the name of the webfolder is unfortunately different in development and production.

paths:
    migration

[2017-04-20 09:48] gotoin commented on #9
ok, i know now, because phinx automatically assigned id primary key, but i use other field as primary key, so may be have a  solution ? please, thank you.

[2017-04-20 09:54] MikeSorokin commented on #9
@gotoin Hello. You could use some magic about this, [Phinx docs](http://docs.phinx.org/en/latest/migrations.html#working-with-tables) says, that you can define custom primary key for table and disable auto creating `id` column. It may look like this:
[code]

[2017-04-20 11:45] odan commented on #8
The `generate` command is for the developer only and generates the phinx migrations classes for you. If you want to run the migration itself you must call the phinx `migrate` command (on the server). The first time you run the `generate` command you have no `schema.php` and the tool generates an inital / setup schema for you. This is necessary because you have an empty database if you deploy the a

[2017-04-20 11:55] odan commented on #10
Hi Jonne

You should place only public assets like JavaScript, CSS and images into the web folder. For security reason migrations files should not be placed in a public folder.

However, the path `../*/db/migrations` with the `*` is not a valid path for this tool.
Please try (a non public) path without a the `*` wildcard.
For example: `../resources/migrations`

[2017-04-20 11:59] jonneroelofs commented on #10
Fair point. I'll move the folder. Thanks.

[2017-04-20 11:59] #10 closed

[2017-04-20 12:26] jonneroelofs commented on #8
Thanks I see what you mean now. I was thinking of the scenario where the other servers have the same base schema as the point in time when I run generate for the first time.

[2017-04-20 12:26] #8 closed

[2017-04-25 06:53] gotoin commented on #9
yes, i know, but i use your phinx-migrations-generator now, could you update this?thank you

[2017-04-25 08:05] MikeSorokin commented on #9
@gotoin Could you include some sql dump of your table with this problem and its generated migration?

[2017-04-25 21:06] odan commented on #9
If MySQL says "Incorrect table definition; there can be only one auto column and it must be defined as a key" then you just have to add a primary key for the AUTO_INCREMENT field (e.g. id).

[2017-04-26 02:45] gotoin commented on #9
@odan i use other field as AUTO_INCREMENT field , so i need phinx-migrations-generator autogeneration like phinx docs says
$table = $this->table('followers', array('id' => false, 'primary_key' => array('user_id', 'follower_id')));

[2017-04-26 14:48] LudwigBr opened #11 "PostgreSQL Adapter"
Hello,

are you planning to support PostgreSQL?
If not it seems like I would only need to implement another Adapter class beside the MySqlAdapter.php am I right or is there some other "mysql-only" logic in your script?

Best Regards

[2017-04-26 20:54] odan commented on #11
Hello,

MySQL is the only supported database system.
To be honest, PostgreSQL is not planned for the future.

[2017-04-27 18:35] odan commented on #9
Ok i get it. I try to implement this feature in the next days.

[2017-05-05 09:27] gotoin commented on #9
thank you very much!

[2017-05-16 18:24] #9 closed

[2017-05-16 18:25] #11 closed

[2017-05-21 19:02] qopqopqop opened #13 "Call to undefined method Phinx\Db\Adapter\TablePrefixAdapter::getConnection()"
Adding table_prefix: xxx_  to phinx.yml throws exception below.

PHP Fatal error:  Call to undefined method Phinx\Db\Adapter\TablePrefixAdapter::getConnection() in /home/ubuntu/workspace/vendor/odan/phinx-migrations-generator/src/Migration/Command/GenerateCommand.php on line 95

cheers

[2017-05-22 21:02] odan commented on #13
Hi! This should be fixed now.

[2017-05-22 21:06] #13 closed

[2017-05-26 12:16] aat2703 opened #14 "changeColumn error"
Version: 0.8.0

I just created a new column named 'number' but the addColumn() method is missing ->update() and therefor this statement fails:
$this->table("restaurant_orderLinkCustomers")->changeColumn('zipcode', 'string', ['null' => true, 'default' => '', 'limit' => 8, 'collation' => "latin1_swedish_ci", 'encoding' => "latin1", 'after' => 'number'])->update();

because the field is 'number' not

[2017-05-26 15:47] odan commented on #14
Hi! Is it possible for you to update to to latest version?

[2017-05-26 18:50] aat2703 commented on #14
Hi

Isn't the version v0.8.0 on Composer the latest version :-) ?

Sendt fra min iPhone

Den 26. maj 2017 kl. 17.47 skrev Daniel Opitz <notifications@github.com<mailto:notifications@github.com>>:

Hi! Is it possible for you to update to to latest version?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/odan/phinx-migrati

[2017-05-26 19:15] odan commented on #14
The current version is 2.1.1. Please take a look at the [Releases page](https://github.com/odan/phinx-migrations-generator/releases) or just run `composer update`.

[2017-05-28 17:07] aat2703 commented on #14
Wops, i'm already on version 2.1.1 who has the problem

________________________________
Fra: Daniel Opitz <notifications@github.com>
Sendt: 26. maj 2017 21:15:46
Til: odan/phinx-migrations-generator
Cc: Andreas Aagaard; Author
Emne: Re: [odan/phinx-migrations-generator] changeColumn error (#14)

The current version is 2.1.1. Please take a look at the Releases page<https://github.com/odan/phinx-mi

[2017-05-31 10:27] sauron918 opened #15 "Сhoose a specific table to generate"
Can I choose a specific table for generating?
For example: `phinx-migrations generate --table OnlyOneTable`

[2017-05-31 14:58] odan commented on #15
Hi! Currently this parameter is not supportet. In this case it would be better to make small changes instead of on big change. I would suggest to change just one table and generate a new migration for it.

[2017-06-03 13:19] odan commented on #14
Should be fixed. Please run `composer update` and try it again.

[2017-06-06 17:45] #14 closed

[2017-06-06 17:45] #15 closed

[2017-06-20 16:46] kaoz70 opened #16 "Cannot create table when table has custom PK"
I'm getting a:

    [RuntimeException]
    Cannot update a table that doesn't exist!

With this generated code:

    $table = $this->table("role_sections", ['id' => false, 'primary_key' => ["role_id", "section_name"], 'engine' => "InnoDB", 'encoding' => "utf8", 'collation' => "utf8_general_ci", 'comment' => ""]);
    $table->addColumn('role_id', 'integer', ['null' => false, 'limit' => MysqlAdapter

[2017-06-20 17:00] kaoz70 opened #17 "Create FK"
Hello, how do you create foreign keys? It says its experimental, is there a way to generate them? It only created indexes instead of FK for my tables.

[2017-06-20 18:34] odan commented on #17
Hello! The foreign keys support is not ready yet. But maybe in the next version you can enable it via configuration file (phinx.php).

[2017-06-20 18:46] kaoz70 commented on #17
Great! thanks for the update

[2017-06-20 18:46] #17 closed

[2017-06-20 20:14] odan commented on #16
Should be fixed now. Please run composer update and try it again.

[2017-06-20 20:58] kaoz70 commented on #16
Yep, its fixed now, no problems in the migration. Thanks!!

[2017-06-20 20:58] #16 closed

[2017-06-22 20:43] odan opened #18 "Phinx is part of the CakePHP family now"
https://bakery.cakephp.org/2017/06/23/welcoming-phinx-to-the-cakephp-family.html

What does that mean for the phinx-migrations-generator?

It is actually a good news, because (too) many issues and PR has been accumulated. Some special MySQL features have been waiting for some time. I always appreciated that phinx existed as a framework agnostic migration tool. I hope it continues that way! Let's h

[2017-06-27 21:22] #18 closed

[2017-07-25 19:19] claytonrcarter opened #19 "Problem with alternative primary key"
I have the following migration generated by v2.1.4, from a MySQL database:

[code]

When I run the migration on an SQLite database, it creates the table only with an `id` column:
![screen shot 2017-07-25 at 3 09 49 pm](https://user-images.githubusercontent.com/1420419/28589296-7895db16-714b-11e7-9473-a3ffb32b9bcf.png)

If I remove the `'identity' => 'enable'` from the first column definition (for

[2017-07-25 19:29] claytonrcarter commented on #19
Altering the first line of the migration to remove the `primary_key` option allows the migration run as expected:
[code]

[2017-07-26 17:11] odan commented on #19
Hi! What happens if you run the migration on an MySQL database?

[2017-07-27 10:34] claytonrcarter commented on #19
Hmm. If I run the "fixed" migration on MySQL it gives me `[PDOException (42000)] SQLSTATE[42000]: Syntax error or access violation: 1075 Incorrect table definition; there can be only one auto column and it must be defined as a key`. If I add `primary_key` back into the table definition parameters, it appears to work for MySQL.

[2017-07-28 09:56] odan commented on #19
Then I think this is a phinx related bug in combination with SQLite.

[2017-08-30 10:45] odan commented on #19
It looks like a bug in phinx and should be fixed there. I close this issue for now.

[2017-08-30 10:46] #19 closed

[2017-10-24 14:46] FallDi opened #21 "Use tablename from phinx.yml config file instead of hardcode value"
In the following code `phinxlog` table name is hardcoded.

https://github.com/odan/phinx-migrations-generator/blob/3883f8169b2d69638cf818c403c16e2beb113c24/src/Migration/Adapter/Generator/PhinxMySqlGenerator.php#L189

I suggest following improvement: use tablename from `phinx.yml` config file

[2017-10-24 15:24] odan commented on #21
Hi @FallDi Just added this new feature. Please run `composer update` and give me a feedback.

[2017-10-25 08:02] FallDi commented on #21
@odan thank you for quick reply!

I added small notice https://github.com/odan/phinx-migrations-generator/commit/b99f453b5272c7eb5f9e086a388636e6a4e9ba71#commitcomment-25177214.

Looks  really good, thank you for package!

[2017-10-25 11:00] odan commented on #21
That's right, this setting is under `environments`. I fixed it.
http://docs.phinx.org/en/latest/configuration.html#external-variables

[2017-10-25 11:04] FallDi commented on #21
Amazing! Thank you

[2017-10-25 11:04] #21 closed

[2017-11-13 09:07] pulse14 opened #22 "Problem with primary keys"
The script generate something like that

[code]

It causes a bug because id is not created.

[2017-11-13 20:09] odan commented on #22
As far as I can tell, this feature (multiple primary keys) seems to be a bug in phinx. This bug is very old (2012) and there doesn't seem to be a real solution yet.

https://github.com/cakephp/phinx/issues/28

[2017-11-16 22:31] #22 closed

[2017-12-07 16:31] lougreenwood opened #23 "Table Data/Table Rows?"
Hi,

I'm currently doing migrations in a bad way (storing whole .sql files in git) and I'm looking to move to a proper migration system.

I'm trying to use this tool (alongside Phinx, obviously :D) to replace this. However, I'm confused how I can manage actual DB data?

It seems that the seeds in Phinx is the way to go, but also it seems that migrations could also handle 'inserts' of new data/rows

[2017-12-07 18:15] odan commented on #23
I think database seeding is a simple way to populate your database with test data (for integration tests). This is often an automated process that is executed upon the initial setup of an application.

Database fixtures are part of the migration and could therefore be placed there as well.

There is currently no official feature to deploy "Fixtures" in Phinx. But that shouldn't stop us from writin

[2017-12-08 11:28] lougreenwood commented on #23
Hey @odan - thanks for the reply.

The problem I face is that my existing DB is 10Mb and contains 10s of thousands of insert statements.

This is because our system is a very complex WordPress setup, and the base configuration requires a LOT of DB rows.

I know this is just plain bad - but it's a side effect of the WP system....

Also, adding any new data to this system usually results in a large

[2017-12-08 13:10] odan commented on #23
Well, 10 MB isn't that big for a database. Sounds like you're trying to create a database just once. My first suggestion was to distribute smaller amounts of data (after the database has been initialized).

To initialize large amounts of data, you need a different strategy.

For example: The migration script could read the data rows from an external file (CSV, XML or whatever) and execute the inse

[2017-12-08 13:25] lougreenwood commented on #23
10MB is just the base install/local dev, no production records are included...

This could work for the initial DB, but manually adding (or removing) records using migrations would be painful because of the volume of changes when a change does occur (because of WP architecture...).

From my perspective, the ideal solution would look something like:
* when auto-generating a migration where DB rows

[2017-12-08 13:40] odan commented on #23
The phinx-migration generator is actually only designed for schema migrations and not for data synchronization between databases.

You might try to start a data migration after the schema migration.

Ypu could try phinx in combination with `db-sync` (not tested):
https://github.com/mrjgreen/db-sync

[2017-12-09 11:57] #23 closed

[2018-04-11 11:06] bramkorsten opened #29 "If table has id, changeColumn() throws error when reverting"
After adding a new table to my database, and generating the migrate script for it, everything seemed well. the actual migration went flawlessly, and worked every time.

The error happens when I try to revert those migrations. The generated script checks whether a column named `'id'` already exists, and modifies it if it does. The problem is that the `change()` method cannot handle `changeColumn()`

[2018-04-11 18:50] odan commented on #29
Hi @bramkorsten Well, reverting a migration is possible (in the theory), but not possible in every case and not 100% supported by Phinx itself. Even simple reverse operations will fail with a error message like this. That's why I decided to not implement a reverse migration feature.

In the development environment this may still be ok, but in production I wouldn't do it. I would recommend never re

[2018-04-12 07:07] bramkorsten commented on #29
Ah I see... But isn't that the whole 'shablam' about migrations? Being able to rollback to say a previous version or something like that? It seems that for a simple migration like creating a simple table, rolling back shouldn't be an issue.

I know that I could always go back to writing the `up()` and `down()` scripts myself, but your tool seemed like the perfect way to handle this for me.

Anyway

[2018-04-12 09:34] odan commented on #29
For me, migrations are an important part of continuous integration (CI) and continuous deployment (CD). The primary goal is to automate all these deployment steps. Today it is simply too complex and error-prone to manually migrate all servers to a defined database schema version. Even if you manage to migrate the schema back, this does not mean that this is also possible with your **data**.

If yo

[2018-04-12 09:34] #29 closed

[2018-06-07 13:54] pukkancs opened #32 "Bit Value Literals"
Hi,
bit value literals are stored as  ```b'0'``` which causes issues with the generated migrations as most of the places for the PHP strings the generator is using single quotes as well.

I noticed it in default values but worth investigating with the other values as well.

I created a pull request to fix it for `defaults`.

[2018-06-10 14:09] odan commented on #32
Hi @pukkancs Thanks for your feedback. My impression is that bit literals are rarely used. Of course I merged your PR with pleasure, because apparently in very rare cases bit literals are used. Where exactly do you think this could become a real problem? Can you give us some more examples? Thanks.

[2018-06-11 09:18] pukkancs commented on #32
Hi @odan,

Thanks, for the quick response. Yes, I guess bit literals are not commonly used, this is the first time I encountered them as well :)

I am not sure about any real life use cases, as it is not likely that I would use bit literals myself. Where it might be possible though is wherever you are able to define a value.

I am thinking maybe `enum` values.  (I am not sure about this, also who

[2018-06-11 14:50] pukkancs opened #34 "Migration Fails with SQLSTATE[42S02]"
Hi,

I encountered this issue.
The generated code is (this is part of an initial migration script):

[code]

Throws:
In PdoAdapter.php line 145:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'artists_spotify' doesn't exist

[2018-06-12 18:06] odan commented on #34
This should be fixed now. Feedback is welcome :-)

[2018-06-12 18:06] #34 closed

[2018-06-12 18:09] odan commented on #32
I've decided to close this ticket for now.  If there's more demand, I'll reopen it. Thank you.

[2018-06-12 18:09] #32 closed

[2018-06-13 20:52] hskrasek opened #35 "Generate initial migrations per table, instead of one giant migration"
We are looking to implement a database migration system for an already existing database. Is there anyway to generate initial migrations per table, instead of one giant migration with all the tables?

It's a huge database with about 71 tables, so that initial migration file gets to be pretty huge and unruly

[2018-06-14 10:49] odan commented on #35
Hi @hskrasek

No, that's not planned either.

I don't see a issue with that. Is this a technical problem for you or is it an "aesthetic" aspect? If you do not want these large files, you can of course manually split the initial file into several small PHP files.

[2018-06-15 22:38] hskrasek commented on #35
@odan Not sure if really a technical issue, though some of the data the generator creates doesn't work first execution so it takes some extra time parsing through the large files to find and resolve the errors. But not impossible to do.

My experience is with a package that generates Laravel migrations from an existing database, which did a migration per table, which gave you a migration history o

[2018-06-16 09:50] odan commented on #35
That sounds like a bug in the generator. Why don't you create an issue for that?

I like this idea. Maybe we could solve this with a new (optional) parameter/settting for the generator. I'll see what I can do.

[2018-07-03 09:10] timersys opened #36 "Phinx 0.10.3 compatibility"
Any plan to make it compatible with new version of Phinx ?

[2018-07-03 13:40] odan commented on #36
Hi @timersys In the next few days :-)

[2018-07-03 16:41] odan commented on #36
I just released the new version 3.0.0 with support for phinx 0.10.

[2018-07-03 16:41] #36 closed

[2018-07-25 06:17] liaogz82 opened #38 "Using phinx-migrations-generator with drupal"
I am looking for a database migration generator for Drupal. Do you have any documentation and any experience on how to use this library for drupal?

[2018-07-26 07:53] odan commented on #38
Hello @liaogz82

Phinx and the phinx-migrations-generator is framework independent (agnostic). This means it should work for Drupal too. I don't know Drupal very well, but the installation and usage should be the same. What have you tried so far?

[2018-07-26 07:57] liaogz82 commented on #38
Yes I just managed to get it to work. It is that I need to update the yml
file. Thanks!

On Thu, 26 Jul 2018 at 3:54 PM, Daniel Opitz <notifications@github.com>
wrote:

[2018-07-26 08:05] #38 closed

[2018-07-29 17:16] spagu opened #39 "An invalid column type "double" was specified for column "rate"."
Hi, I am trying to make migration but getting

`An invalid column type "double" was specified for column "rate".`

mysql5.7
php72
Phinx by CakePHP - https://phinx.org. 0.9.2

How to solve it ?

[2018-07-30 20:17] odan commented on #39
Hi @spagu

I have cheked the [phinx documentation](http://docs.phinx.org/en/latest/migrations.html?highlight=float#id2) and the source code of the Phinx [MysqlAdapter](https://github.com/cakephp/phinx/blob/master/src/Phinx/Db/Adapter/MysqlAdapter.php#L724).

It looks like the MySQL type `double` is not a valid / supported column type in Phinx.

[2018-09-12 22:37] computamike opened #40 "Trying to generate a migration from a database"
I'm using generator to generate a migration from a database but when it connects I get the following error :

[2018-09-18 17:28] AlmostInteractive opened #41 "Generates code which fails migration"
A MySQL table with the CREATE script:
[code]

is turned into the following phinx php:
[code]

When run by `phinx migrate` it results in the following error:  `SQLSTATE[42000]: Syntax error or access violation: 1072 Key column 'id' doesn't exist in table`

If the generated code is changed (manually) to maintain the order of the CREATE script (or, at least `id` first) then it migrates correctly.

[2018-09-29 23:16] alxgb opened #42 "Defaults are not properly dealt with on MariaDB 10.2.7+ (including NULL)"
I know it says in the README that the library supports MySQL 5.7+, but since MariaDB is commonly used to replace MySQL (e.g [in linux distros](https://mariadb.com/kb/en/library/distributions-which-include-mariadb/), notably CentOS/Debian...), or at the very least the most common replacement for MySQL, I thought it'd be worth a mention.

MariaDB 10.2 supports expressions on defaults, which MySQL do

[2018-09-30 00:16] alxgb opened #43 "The generated migration fails for multi-column primary keys"
The generated code for tables tries to save() after every addColumn() call, but that causes an error if the primary key requires more than 1 column.

[2018-09-30 03:18] alxgb opened #44 "Incorrect removal of index when they don't exist"
A new table with one column and an index on said column generates code like this:
[code]

I haven't spent enough time on the internals, but I guess the second ->table call somehow discards the previous removeIndexByName (?), because by the end of the execution, Phinx complains about

... and bit of debugging showed that the removeIndex actions were those that were pending. If I append to the remov

[2018-10-02 18:19] odan commented on #42
Hi @alxgb Thank you very much for your good feedback.

The question is, what if you run MariaDB in dev and MySQL on the production server? Then the generated migration would be optimized for MariaDB, but "fail" on the Prod server.

[2018-10-03 20:21] alxgb commented on #42
Hi,

Indeed, I hadn't really considered that scenario (and I guess, the inverse - a developer has MySQL on their PC but there's MariaDB in production). Ok, let's ditch mariadb_new_default_schema then, here's another idea:

New option, _treat_defaults_as_expr_, with 3 levels:
0: Generated code as it is now
1: Generated code assumes all defaults are expressions, and doesn't quote them
2: Dynamically

[2018-10-08 19:12] odan commented on #41
I have tested your SQL script and I get a different output.

[code]

The difference is the order of the fields. For example:

[code]
and

[code]

The field `id` must be added first.
Can you please update to the latest version and try it again?

[2018-10-08 19:32] #41 closed

[2018-10-21 12:50] #44 closed

[2018-10-21 13:10] odan commented on #43
I cannot reproduce this bug. Please add more details to the description.

[2018-10-21 13:12] odan commented on #42
Due to time reasons I cannot offer support for MariaDB. For this reason I have to close the ticket. Thank you very much.

[2018-10-21 13:12] #42 closed

[2018-10-21 15:01] alxgb commented on #43
Perhaps don't close it though if you're asking for more details?

There are not many more details to add, it's pretty basic. This is the generated code for a composed primary key. This fails.
[code]

[2018-10-22 10:00] odan commented on #43
The generated code looks like from an older version. Are you using the latest version?

[2018-10-26 08:48] odan commented on #43
Any feedback?

[2018-11-12 17:13] #43 closed

[2018-12-07 11:34] geiru commented on #43
Hi @odan

first of all, thank you for this great script :-)

I am using the latest version (3.1.0) and unfortunately have the same issue: Multi column primary keys cannot be generated. The problem is, that after every addColumn() in the generated migration file, there is a call to save().

The table:
[code]
Will produce a migration file like this:
[code]

Which will then, when running the migratio

[2018-12-11 07:50] sizeg commented on #8
@odan hello! Every developer has it's own database name, so 'TABLE_SCHEMA' generated in file will be differ. For example if I commit my schema.php it will override for others. What should I do in that case? Ignore schema.php from repository?

[2018-12-11 08:07] odan commented on #8
Hi @sizeg The purpose of `schema.php` is to commit this file to the repository. The  `TABLE_SCHEMA` value is realy not necessary. The best solution would be to remove this value from schema.php. I will have a look at it. Maybe create a new issue for this.

[2018-12-11 19:16] odan commented on #43
Hi @geiru. I'll look at it again. Please create a new issue.

[2018-12-16 10:22] odan opened #45 "Remove TABLE_SCHEMA from schema.php"
Every developer has it's own database name, so 'TABLE_SCHEMA' generated in file will be differ. For example if I commit my schema.php it will override for others.

[2018-12-16 10:23] odan opened #46 "Multi column primary keys cannot be generated"
I am using the latest version (3.1.0) and unfortunately have the same issue: Multi column primary keys cannot be generated. The problem is, that after every addColumn() in the generated migration file, there is a call to save().

The table:
[code]
Will produce a migration file like this:
[code]

Which will then, when running the migration with phinx, produce the mysql query (output via -vvv option

[2018-12-16 11:28] #45 closed, assigned to odan

[2018-12-24 13:25] #46 closed, assigned to odan

[2019-01-07 10:33] geiru opened #48 "Migrations for multi column primary keys do not work"
Hi @odan

first of all, thank you for this great script :-)

I am using the latest version (3.1.0) and unfortunately have the same issue: Multi column primary keys cannot be generated. The problem is, that after every addColumn() in the generated migration file, there is a call to save().

The table:
[code]
Will produce a migration file like this:
[code]

Which will then, when running the migratio

[2019-01-07 19:21] odan commented on #48
Hi @geiru This issue should be fixed in the latest version 4.

[2019-01-11 20:58] #48 closed

[2019-01-21 12:05] delboy1978uk opened #49 "Populate (seed) table with existing rows?"
I am going to use your package to generate phinx migrations for our existing databases. Is it possible to seed the databases using valid existing table rows?

 I know we can seed fake test data, buthopefully there's a way we can generate the same but for existing row seeding?

[2019-01-21 18:33] odan commented on #49
This is not directly possible because the idea behind this library is to generate only phinx code to change the database/table structure - and not the data itself.

I use phinx to import/update/delete data as well. It's possible to create a empty phinx migration with `vendor/bin/phinx create MyNewMigration` and then insert the array with rows manually. For example:

[code]
 [Inserting Data](http:/

[2019-01-22 10:52] delboy1978uk commented on #49
Thanks for your help!

[2019-02-18 23:11] spagu opened #50 "No migration paths set in your Phinx configuration file."
Hi,  I am getting this kind of error with PHP7.3 :

[code]
Problem that I spoted is in this line:
`   $migrationsPaths = !is_array($migrationsPaths) ? (array)$migrationsPaths : [];`
this just make variable empty.

[2019-02-19 09:09] odan commented on #50
Please try updating to v4.0.2 and tell me if it works now.

[2019-02-19 19:56] dsielert commented on #50
definitely still broken in 4.0.2

[2019-02-19 21:20] odan commented on #50
With v4.0.3 this should be fixed for php 7.3. Please give me a feedback.

[2019-02-19 21:21] dsielert commented on #50
Using php 7.2 and it is the same broken in 4.0.1 as well.. that line @spagu mentioned is resetting the migrations array to a blank array

[2019-02-19 21:22] dsielert commented on #50
Seems to me that line ought to be
[code]

[2019-02-19 21:41] odan commented on #50
@dsielert Yes, this line should be fixed since v.4.0.3.

[2019-02-20 14:15] #50 closed

[2019-02-20 15:08] spagu commented on #50
confirmed it is fixed. Thanks guys !!

[2019-04-11 16:47] D4V3M0NK opened #51 "Overwrite schema file or not?"
I've been using phinx and phinx-migrations for a while now and I've always selected "N" to **overwriting the schema file** (the last prompt) as I'm anal about deleting anything.  Is it possible to get a little more information as to the differences between these two?

I'm _guessing_ that :
- answering "N" will place all prior migrations into the newly created one, so that if I ever lost a prior mi

[2019-04-22 19:05] LightningMD commented on #46
I know this was previously closed, but I wanted to comment because I'm getting an error with multiple primary keys, and removing the $table->save() immediately following did not resolve it for me.  It still errors out on the second PK saying that the column doesn't exist.  Any advice here? Thank you!

[2019-04-22 19:34] odan commented on #46
Hello, which version do you use?

[2019-04-22 20:40] LightningMD commented on #46
I have 3.1 Odan  /  0.10.6 Robmorgan

[2019-04-22 20:54] odan commented on #46
This fix is available since v.4 of this package. Can you please try to update to the latest version (4.x)?

[2019-04-22 21:00] LightningMD commented on #46
Shoot, it will force me to update my PHP version as well. I'm using PHP 7.0.33 right now. Thank you so much for replying to me so quickly! I will update it if I have to, but wondering if there is another workaround? I'm going to try writing a key change migration after the initial.  Thank you!

[2019-04-22 21:09] odan commented on #51
Hello! Here you can find more informations about the usage: https://github.com/odan/phinx-migrations-generator/issues/8#issuecomment-295460712

The `schema.php` file contains all table- and column-definitions of the database after the new migration script has been generated. The file size only depends on the number of tables and columns of the latest schema.

* answering "N" will keep the content

[2019-04-22 21:10] LightningMD commented on #46
Ok adding the key change after the table save worked! Thanks again for your attention and for the script!!

[2019-04-22 21:14] odan commented on #35
Most initial migration issues have been fixed since v4. For this reason I close this ticket. Thank you for your feedback.

[2019-04-22 21:14] #35 closed

[2019-04-25 09:23] geiru commented on #48
Thanks a lot!

[2019-04-26 09:03] #51 closed

[2019-05-03 14:59] ruudboon opened #52 "Default add double quotes"
When generating migrations I'm having errors wile deploying changes.
Looks like extra quotes are added to the migration file (not the schema)
[code]
and
[code]

[2019-05-03 16:50] odan commented on #52
Hi @ruudboon! Do you use MySQL or MariaDB?

[2019-05-03 18:33] ruudboon commented on #52
@odan MariaDB Could this be related?

[2019-05-03 19:32] odan commented on #52
Yes, there are some differences, especially in the `null` default values.

Although MariaDB is not officially supported, I have tried this table schema with MariaDB:
[code]

The genderated code for the column `email_verified` looks OK and works, even with MariaDB:

[code]

You see, there is no `'default' => '\'N\'',` property here.
Could you please show me the original table schema, or at least th

[2019-05-05 14:15] curtiscarlson opened #53 "Multiple migration folders crashes"
Having multiple migration folders seems to crash this tool.

[code]

I am on windows so that might be part of the issue

[2019-05-05 14:19] curtiscarlson commented on #53
ok actually it has nothing to do with multiple folders.  just working through this:

[code]

it surely does, and works for migrations in plain phinx.  will report back after more digging.

[2019-05-05 14:22] curtiscarlson commented on #53
OK, I got the thing to run by setting the absolute migration path just like in the readme.  This is inconsistent with the phinx.php configuration.....

[2019-05-05 14:40] odan commented on #53
Well, the phinx "multiple directories patterns" like `{migrations,migrations2}` are not supported at the moment. Also single paths with curly braces like `"{migrations}"` are not supported. It's only possible to pass relative or absolute paths.

I think it would not make much sense to generate the same migration, multiple times, in different locations. But maybe I missed something? What would be t

[2019-05-08 21:20] curtiscarlson commented on #53
Well, the use case is that I have two migration folders (one for my common app stuff like users, roles, uploads, dates, queue, etc., and the second folder is in a package, it is the domain package, in a separate repo, containing the migrations for the actual business logic.  Same for seeds.  So I had that working.  And it works great, I love how it asks you which folder to generate a file into.  B

[2019-05-09 10:17] odan commented on #53
It is also possible to "overwrite" the path settings from the config file by using the console `--path` parameter only in case you want to generate a migration. `vendor/bin/phinx-migrations generate --path app/db/migrations`.

Indeed, not every phinx migration (generated or written by hand) can be reverted. But's thats another topic. Thanks for your feedback :-)

[2019-05-10 18:34] #53 closed

[2019-05-14 16:57] #52 closed

[2019-05-17 16:25] guilhermeaiolfi commented on #11
@LudwigBr have you done any further in this?

[2019-05-26 07:37] JoyceBabu opened #54 "Filter tables"
Is it possible to filter tables when generating migrations? For example, I would like to filter all tables that match a particular pattern. Is it possible to filter the tables list using a call back function or regex pattern?

[2019-05-26 09:29] odan commented on #54
Hi @JoyceBabu

It's not possible to filter tables when generating migrations.

That would be a nice feature, of course. I will add this option in the next version.

[2019-05-26 15:07] JoyceBabu commented on #54
I managed to do it by overriding `MySqlSchemaAdapter::getTables` and `GenerateCommand::execute`.

[2019-05-27 19:21] odan commented on #54
Are you interested in creating a PR?

[2019-05-28 05:52] JoyceBabu commented on #54
I meant I created a new class extending `Odan\Migration\Adapter\Database\MySqlSchemaAdapter`, overriding  the `getTables` method. Since the `dba` object is directly initialized in `Odan\Migration\Command\GenerateCommand::execute`, I had to extend `GenerateCommand` class too.

Hence my changes won't be useful as PR.

It would be nice feature, if I could do this directly from `phinx.php`, by specify

[2019-05-29 12:59] JoyceBabu opened #55 "Option to delete entries for unchanged tables"
Currently, the generated migration scripts includes a `$this->table(...)->save()` call for every table, including the unmodified tables. I have a database with 215 tables.

Is it possible to filter out the entries for unmodified tables, so that it is easier to review the generated migration code?

[2019-05-29 13:42] odan commented on #55
Everytime you call the generate command, the generator creates a diff by comparing the current database schema with the schema stored in `schema.php`. If your diff contains all tables, the file `schema.php` is empty or does not exists. Are you sure, that `schema.php` is "up to date"?

[2019-05-29 14:03] JoyceBabu commented on #55
The `schema.php` is up to date. When there are no changes, I get the message

But when I add a new column to an existing table, the generated migration contains an entry for every existing table.

From reading the code, `PhinxMySqlGenerator::getTableMigrationTables` does not check whether the table is modified or not.

[2019-05-29 15:03] DavidMernin commented on #55
I am experiencing the same problem.  I just rename a column in one table and I get a migration for every table.

[2019-05-29 15:10] JoyceBabu opened #56 "Is this correct?"
Is this a typo? `$output` is being overwritten with the new code, instead of appending. Shouldn't it be `$output[]`?

https://github.com/odan/phinx-migrations-generator/blob/06db032b2ba0c3861361f849d1e16e6c1d6ce271/src/Migration/Adapter/Generator/PhinxMySqlGenerator.php#L295

[2019-05-29 15:12] JoyceBabu commented on #56
I just noticed that $output is being passed into the called function. Sorry.

[2019-05-29 15:12] #56 closed

[2019-05-31 07:27] odan commented on #55
It should be fixed now. Please update to the latest version and give me a feedback. Thanks.

[2019-06-01 17:41] #55 closed

[2019-06-01 17:47] odan commented on #54
Ok, but please be careful. Technically it possible to overwrite protected methods, but they are not save against internal changes (refactoring) of the library. This could break your code, even in a patch version.

Yes, this is the reason I was asking for. :-)
Do you want to create a PR that implements this feature?

[2019-06-03 15:17] LudwigBr commented on #11
@guilhermeaiolfi Sorry for my late answer. I have not pushed this further and instead went for a new implementation. It fit my needs back then but was not intended for public use. In case you want to take a look anyway: https://github.com/LudwigBr/postgres-migration

[2019-06-12 16:43] DavidMernin commented on #55
Works perfectly now!  Thank you! =)

[2019-07-09 01:07] samrahman opened #57 "foreign keys not getting generated"
Hi there, it worked great, thanks for your work.

I've got an issue, the foreign keys are not getting generated automatically. I checked the example configuration you put on readme but not sure about it.

Any help would be appreciated.

[2019-07-09 06:40] odan commented on #57
Hi @samrahman Could you please provide a small example of the table structure?

[2019-07-13 15:14] samrahman commented on #57
yeah sure,
<img width="1011" alt="Screen Shot 2019-07-14 at 12 41 30 am" src="https://user-images.githubusercontent.com/2881796/61173276-360b4680-a5d0-11e9-8852-987d54af8829.png">

1) I just added this foreign key associations::org_id => Organisations::id
2) Than ran phinx-migrations generate

Output:
Comparing schema file to the database.
No database changes detected.

[2019-07-13 16:31] odan commented on #57
By default FK migrations are not enabled.

https://github.com/odan/phinx-migrations-generator#migration-configuration

Is this key enabled in your config file?

[code]

[2019-07-13 17:02] samrahman commented on #57
Not too sure about the config file, all I use is phinx.yml file? Do I need to create anything else? Where do I put it?

[2019-07-13 17:26] odan commented on #57
Here you find a [phinx.php](https://github.com/odan/phinx-migrations-generator#example-configuration) configuration file.

The [configuration](http://docs.phinx.org/en/latest/configuration.html) in `phinx.yml` should work like this:

[code]

[2019-07-13 17:43] samrahman commented on #57
Thanks, with phinx.php, foreign keys are generated.

I've tried `phinx.yml` first as you mentioned above, which didn't work unfortunately. Would have been great, as yml is more cleaner.

[2019-07-18 09:13] sodobean commented on #57
Having same issue. Setting the
`paths:
    migrations: /your/full/path
    foreign_keys: true`
in .yml file does not work. Do I net to create a .php file in my root directory and manually change the db parameters? All different environments are set in the yml file so... if I want to do movements on two or more environments, do I have to change the phinx.php file every time?
`// Get PDO object
$pdo

[2019-07-18 13:26] odan commented on #57
Sorry, my example from above was not correct. The key `foreign_keys` must be placed like in this example:

[code]

[2019-08-22 20:24] #57 closed

[2019-08-22 20:25] #54 closed

[2019-08-25 18:07] D4V3M0NK opened #58 "How to manage views?"
From what I can see, and I've been using phinx-migrations for a while now, there's no way of creating any source control options for a MySQL view, just tables and data.  Would that be a fair observation?

[2019-08-28 09:33] killua-eu opened #59 "Bump phinx dependency"
Phinx 0.11 was released today to fix a breaking change in symphony/console - see
https://github.com/cakephp/phinx/issues/1585

Would you kindly bump the migration generator to accept phinx ^0.11 as well?

Thanks lots, P

[2019-08-28 17:20] odan commented on #59
The phinx version has been changed from ^0.10 to ^0.11.

[2019-08-28 17:30] odan commented on #59
@cesar1983 For now PHP 7.2 is not really necessary. The minimum PHP version will be 7.1 in the next release.

[2019-08-28 17:30] #59 closed

[2019-08-28 17:39] odan commented on #58
Hi @D4V3M0NK

Phinx doesn't support **views**, stored procedures and triggers:

https://github.com/cakephp/phinx/issues/309

[2019-09-18 02:21] renatoaraujoc opened #64 "Cross database FKs not being generated"
Hello!

I have fully implemented a project using this library and I happen to have many mysql databases running in the same instance and _referencing each other_.
What happens is that everything works pretty fine **except** for cross database foreign-key constraints, I will supply a local example (columns are in portuguese).

Consider this table and **note the first constraint** (which references

[2019-09-18 03:10] renatoaraujoc commented on #64
I was digging thru the issue here and found that on the file below:
https://github.com/odan/phinx-migrations-generator/blob/eb5e996356547377e66ff6f07f5b4f2652b0682e/src/Migration/Adapter/Database/MySqlSchemaAdapter.php#L375
I analyzed the SQL and made some corrections and now it correctly fetches all the foreign keys, including those referenced on another database table. I just included `cRefs.UNI

[2019-09-18 15:40] odan commented on #64
Hi @renatoaraujoc

The current schema.php is free of any database name, because of the version control (like git and SVN) and the different development and production database names. Referencing to fix database names could lead to quite big issues in many cases because the hash would be different on every (developer) machine. This would lead to invalid migrations for other users.

[2019-09-18 21:08] renatoaraujoc commented on #64
Alright, I understand your motivation to make these migrations database-safe but then we have to look deeper and recognize that cross-database foreign key is an existing feature of many dbs and a migration tool should be able to handle all situations so I'd like to propose something considering the current limitations, considering that:

1. There are systems where many databases in the same instan

[2019-09-20 11:59] renatoaraujoc commented on #64
I'm closing this, I forked your project and made the changes o my own. Thank you!

[2019-09-20 12:00] #64 closed

[2019-09-26 07:02] filisko opened #65 "Deleting column with index: InvalidArgumentException: The specified index name '....'"
Hi,

1. Generated for first time migration file with schema file from **development** DB (90 tables).
2. Run the migration on **testing** DB.
3. Removed a column with foreign key on **development** DB and generated migration file.
4. Run the migration on **testing** DB, and I got the error.

Could that be because bad conventions are being used or something like that?

I also realized that db trans

[2019-09-26 09:45] odan commented on #65
Hi @filisko :-)

I guess not.

Every FK needs an index. If we try to delete an index of table A, but a FK from table B has a reference to this column in table A, we get this error. [InnoDB and FOREIGN KEY Constraints](https://dev.mysql.com/doc/refman/5.6/en/innodb-foreign-key-constraints.html)

Definition language (DDL) statements, such as those that create or drop databases, those that create, dr

[2019-09-26 15:04] filisko commented on #65
Sorry, on point 3 I actually delete first (manually) the foreign key (and that deletes the index) and then the column.

[2019-09-26 15:29] odan commented on #65
Okay, I'm trying to reproduce the error on my machine.

[2019-09-26 21:28] odan commented on #65
This looks like a bug in phinx, because the generated sql by phinx looks not ok.

This code...
[code]

generates this SQL (I changed the names):

[code]

Error:

[code]

The expected SQL would be:

[code]

This looks like a bug in phinx that has already reported and fixed here [#1514](https://github.com/cakephp/phinx/issues/1514), but the sql is still not correct.

I think we should report this bu

[2019-09-26 22:16] D4V3M0NK opened #66 "Question: phinx rollback and migrations"
Pretty much every time I make a change to my database, I run a migration, just so that I can be somewhat granular on exactly what has happened to my database by briefly reading the list of migrations in date order.

For the first time (been using PMG for about a year now) I have to use the `rollback` command as I made a mistake which was recorded in the last migration. For example, today I have th

[2019-09-26 22:24] D4V3M0NK commented on #66
As a note, it appears that my `schema.php` file still has the changes in it from the 214148 migration ... I take it that this would have to be a manual edit to remove them?

[2019-09-27 06:28] odan commented on #66
Phinx has this rollback command.

    phinx rollback -e development

You can find further details in the documentation. [Phinx rollback][1]

  [1]: http://docs.phinx.org/en/latest/commands.html#the-rollback-command

After you "roll backed" the local (development) changes and you don't need it in production, you should revert the local schema.php file from your version control (git) because schema.

[2019-09-27 06:37] filisko commented on #65
Oh, really? I was also looking into that code but didn't test the SQL output, nice!

thank you

[2019-09-27 15:24] D4V3M0NK commented on #66
I hadn't checked in the changes before wanting to roll back, but it appears that everything is ok - and I certainly appreciate the confirmation Daniel.

[2019-09-27 15:24] #66 closed

[2019-10-11 07:38] Jeckerson opened #67 "[Question] Support of another drivers"
Hi

Is there plans to implement same drivers/adapters that support Phinx: PostgreSQL, SQLite and MSSQL?

Thanks

[2019-10-23 19:58] #67 closed

[2019-11-05 20:38] renatoaraujoc opened #69 "Int fields with default null are generated with 'null' on mariadb 10.4+"
Hey @odan,

I know your project specifies that this only works with MySQL 5.7+ but I've tested it on the latest version of MariaDB and everything works as expected, **except** for the generation of "default null" fields.
i.e: `city_id int (10) unsigned default null` gets parsed to `city_id int (10) unsigned default 'null'` (note the quotes around null), thus breaking the migration.

This is what's

[2019-11-06 16:35] odan commented on #69
Hi @renatoaraujoc I will have a look at it in a few days.

[2019-11-10 13:08] odan commented on #69
Should be fixed now.

[2019-11-10 13:08] #69 closed

[2019-11-14 08:13] dalexhd opened #70 "Add support for multiple new things."
- float (fix decimals deletion)
- enum
- Multiple composite relations in teble

[2019-11-14 19:50] JoyceBabu commented on #54
Sorry for not responding earlier. I did not get a chance to look into this again.

Since this is a cli tool, the callback approach is not very easy. It would require writing plugins, and passing the plugin name via cli. Also, I felt that would beat the purpose of this tool, which is to create migrations with minimal effort.

The solution that I ended up with was to create a `.phinxignore` file wit

[2019-11-14 23:06] odan commented on #54
This tool uses the configuration of phinx and reads some additional keys from it. For the sake of simplicity, I would add such filter rules to the existing phinx configuration.

[2019-11-15 08:38] JoyceBabu opened #71 "Indentation of generated code is not consistent"
The indentation for `addIndex` and `changeColumn` in the generated code does not align with other methods like `addColumn` / `removeColumn`.

[2019-11-15 09:38] #71 closed

[2019-11-15 09:45] odan commented on #70
Hi @dalexhd

This is implemented as "decimal" in combination with "precision" and "scale".

Enum values are already supported.

Foreign key are already supported (but disabled by default).

[2019-11-15 12:44] JoyceBabu opened #73 "Make setting `schema_file` configurable via phinx.yml"
My `schema.php` is too long (around 65K lines) and it is causing `PHP-CS-Fixer` in my post commit hook to fail due to hitting memory limit. I would like to change the file extension to a lint only extension.

Will you accept a PR to make the value of `schema_file` configurable via phinx configuration file?

[2019-11-15 13:02] JoyceBabu commented on #54
On a multi developer project, the ignore files will be developer specific and should not be version controlled. But since the phinx configuration file is version controlled, this might end up being a problem.

[2019-11-15 13:16] JoyceBabu commented on #73
I just noticed that schema file can be a `.php` or `.json` file. But I cannot find an option to change the schema file, since it is hard coded as `schema.php` in `GenerateCommand::getSchemaFilePath`.

[2019-11-15 13:42] odan commented on #73
@JoyceBabu The json support has been removed long time ago. Please exclude the `schema.php` from scanning.

[2019-11-15 17:47] JoyceBabu commented on #73
Did you mean you are planning to remove it in future? Since I am already using a custom `GenerateCommand`, I tried overriding `getSchemaFilePath` to return `schema.json` instead of `schema.php`, and it worked as expected.

`MigrationGenerator::saveSchemaFile` and `MigrationGenerator::getSchemaFile` still contains the code for handling the file correctly, depending on the extension.

[2019-11-15 20:43] #70 closed

[2019-11-15 21:00] odan commented on #73
Well, I tried it ;-)

Please create a PR to make the `schema_file` configurable via phinx configuration file.

[2019-11-16 07:19] JoyceBabu commented on #73
😀

Why did you chose PHP native array over JSON? Was it for removing the dependency on JSON module? Is there a noticeable performance overhead in parsing JSON? Isn't JSON a better format in this case, since the data is not exactly source code?

[2019-11-16 11:42] #73 closed

[2019-11-21 13:52] Capenus opened #75 "Allow Symfony 5"
Symfony 5 was [just released](https://symfony.com/blog/symfony-5-0-0-released). Is it possible to allow Symfony 5 in [composer.json](https://github.com/odan/phinx-migrations-generator/blob/04ed94a282c41cb34c417f98fb2796f2a2593c5e/composer.json#L19)?

[2019-11-21 15:13] odan commented on #75
Yes, of course. I will add it.

[2019-11-21 15:24] odan commented on #75
Done

[2019-11-21 15:24] #75 closed

[2019-12-08 15:26] odan commented on #65
The fix has been merged into Phinx 0.11.2. Update to the latest phinx version and try it again.

[2020-01-07 06:50] jiuwuxiaohun opened #76 "The utf8 string is encoded. Why do you do this?"
[code]
我这边是中国用户，汉字被编码为了”\xXX\xXX”这种情况。
I'm a Chinese user, and the Chinese characters are encoded as "\xXX\xXX".
After viewing the documentation of PHPEncoder, add two parameters to solve.

[2020-01-07 07:57] odan commented on #76
The PHPEncoder (external library) escapes all strings to printable characters by default.

Can you please create a PR to fix this issue here?

[2020-01-08 05:34] jiuwuxiaohun commented on #76
#77   I submitted this.
----
For the first pull request, please check if there is any problem with mine. I originally installed my own modified branch in composer VCS. If you merge, I can switch to the official composer source again.

[2020-01-08 08:50] odan commented on #76
Thanks. Your fix has been merged.

[2020-01-08 08:50] #76 closed

[2020-01-10 18:09] #65 closed

[2020-04-05 13:29] killua-eu opened #78 "Failure on generated columns"
Hi Daniel,

I got a table created as

[code]

running the migrations generator, I end up with

[code]

with the `stor_name` column ending up with some wrong code. Would you please look into this one? I'm ready to help with tests etc., just let me know.

[2020-04-05 19:24] odan commented on #78
Hi @killua-eu

The column `stor_name` is a so called "generated column", which are are not fully supported by Phinx.

`GENERATED ALWAYS AS (json_unquote(json_extract(c_data,'$.data.item'))) VIRTUAL`

I think this PR will allow us to add those columns, if it gets merged.

* https://github.com/cakephp/phinx/pull/1311
* https://github.com/cakephp/phinx/issues/1276

[2020-04-05 20:35] killua-eu commented on #78
Ahh. So the https://github.com/cakephp/phinx/pull/1175 is not enough here to get this done right? Btw, can the phinx-migration-generator generate raw sql changes too? That might be a workaround.

[2020-04-06 13:13] odan commented on #78
At the moment it's not clear for me how to use this new feature to generate an output like `GENERATED ALWAYS AS (json_unquote(json_extract(c_data,'$.data.item'))) VIRTUAL`

Do you have an working example?

This would be a nice feature.

[2020-04-06 21:09] killua-eu commented on #78
I'll do some more tests in the week (with respect to the new feature) & let you know. Raw sql would be imho awesome.

[2020-04-12 20:53] odan opened #80 "Generate raw SQL"
The problem is that some complex database schemas are not fully supported by phinx. This fix this issue it's planned to generated raw SQL for phinx.

Example output:

[code]

This feature is optional an disabled by default.

To enable it set the configuration `raw_sql` to `true`.

[2020-04-13 11:10] killua-eu commented on #78
Did some trial and error. Couldn't really progress on using the phinx's literal class towards the wanted result. I asked the phinx devs now. What naturally works is plain sql ... after the create() statement, I just added an execute()

[code]

So maybe  #80 is a solution unless I have some progress here

[2020-04-19 11:49] joostdebruijn opened #81 "Set column type not generated correctly"
Columns from the type 'set' are not correctly generated. In the schema.php file the values are discovered, but the property `values` is not added to the column definition migration file. This will cause an error when running the generated migration.

I'm not sure, but this issue may also arise for 'enum' types.

[2020-04-19 15:15] odan commented on #81
Hi @joostdebruijn

The type `ENUM` was already supported. In the next version the type `SET` will also be supported.

[2020-04-19 15:24] #81 closed

[2020-05-13 13:07] killua-eu commented on #78
I tried some more and failed beautifully. I guess supporting plain SQL is the best way around this then.

[2020-05-13 13:19] killua-eu opened #82 "schema.php debugging?"
Hi Daniel,

I occasionally notice, that the generate command `./vendor/bin/phinx-migrations generate -e production --name SomeName --overwrite` occasionally tries to recreate an already existing table with an existing migration class, that has its record in schema.php.

I can't really figure out why - is there a way to easily ask the migrate command to print the differences it sees between mysql p

[2020-05-13 14:27] odan commented on #78
Ok, thank you very much for exploring the existing possibilities. So I think the next step is to implement a SQL generator for such specific use cases.

[2020-05-23 14:25] odan commented on #82
Usually it is not very common to create a migration from a production database. In most cases it should be a local dev database where you change the schema. The production database is just "the target" to apply the generated migrations. Can you please explain your workflow?
Does the schema.php exist and does it contain the latest schema?

[2020-05-23 14:28] odan commented on #78
As a workaround you can use the `$this->execute(...)` method. So for now I close this issue.

[2020-06-11 04:27] D4V3M0NK opened #83 "Connecting with encryption"
I'm currently using v3.1.0 and have been (very) happy with phinx for the last 3 or 4 years.  I've now been tasked to place this project onto a server (AWS with Aurora) and I need to connect to the MySQL server using TLS. The project connection files are being updated but when I run `phinx migrate` I get a connection error, as I'm not using TLS.

In the `phinx.php` at the project root, I see
[code]

[2020-06-11 16:44] odan commented on #83
Hi @D4V3M0NK The answer depends on your specific setup. Phinx uses PDO to connect to the database. So you just have to add the following settings to your PDO settings array:

[code]

Example:

[code]

[2020-06-11 17:00] D4V3M0NK commented on #83
Daniel,
Apologies - it was staring at me right in the face and yet I just didn't see it...!
Thanks for responding so quickly sir.

[2020-08-13 15:21] harrisdt15f opened #85 "how to use table prefix"
I am trying to export data with table prefix but I don't know how to do it.

[2020-08-13 17:40] odan commented on #85
Hi @harrisdt15f Table prefixes are currently not supported.

[2020-08-27 11:12] GlennM opened #86 "Namespace for migrations does not work"
Phinx [supports custom namespaces](https://phinx.readthedocs.io/en/latest/namespaces.html), e.g.
[code]

With this configuration, phinx-migrations-generator does not work.

`In GenerateCommand.php line 203: No migration paths set in your Phinx configuration file.`

**Versions**
Tested with `"robmorgan/phinx": "^0.11.4"` as well as `"robmorgan/phinx": "^0.12.4"`
Using `"odan/phinx-migrations-genera

[2020-08-28 09:46] #86 closed

[2020-09-17 22:21] #85 closed

[2020-09-17 22:21] #82 closed

[2020-09-25 14:10] MrHHyde opened #88 "array_key_first() requires PHP 7.3"
Composer json needs to be updated to require php 7.3

https://github.com/odan/phinx-migrations-generator/blob/091b8930c9e5c820e54d4f65e6b422bf124b2292/composer.json#L16

https://github.com/odan/phinx-migrations-generator/blob/ecb21f9aed310e7276f4f4e3dbaddf76be82369b/src/Migration/Command/GenerateCommand.php#L291

[2020-09-25 14:38] odan commented on #88
Thanks for reporting. A polyfill for array_key_first has been added.

[2020-09-25 14:57] #88 closed

[2020-11-02 13:53] yassinrais opened #90 "BUG : Remove Quote from column DEFAULT value"
Issue :
[code]

Expected:
[code]

:) !

[2020-11-06 20:08] odan commented on #90
I will check it.

[2020-11-10 00:40] killua-eu opened #91 "Locking migration generation to specified tables"
When designing a new database layout, I often get myself into a situation, where a part of changes made to tables is already done (ready for a commit), whereas other tables are still being a wip. Is it possible to restrict the migration generation only to tables specified? I'm looking at how

[code]

could compare compare to, if a parameter such as `--tables` would exist

[code]

is this an existi

[2020-11-14 08:46] odan commented on #90
I cannot reproduce it. I get the following result:

[code]

[2020-11-14 08:47] #90 closed

[2020-11-14 09:06] odan commented on #91
This feature does not exist.

Usually I do this by generating a smaller migration when I know that the change is done.
Then I change the next table(s) and generate a new migration for it.

[2020-12-04 10:25] killua-eu commented on #78
Hey @odan , I'd like to reopen this issue. I have a working example on how to add a generated column properly with phinx - its been supported, only not too obviously documented. Here the code:

[code]

this does actually the correct thing (--dry-run excerpt)

[code]

would you mind including supporting this on your side yourself?

[2020-12-04 15:50] odan commented on #78
That's nice. I will take a look at it in the next few days.

[2020-12-07 17:20] odan opened #93 "Add PHP 8 support"
* Add PHP 8 to composer.json ✔️
* Add PHP 8 to build environment ✔️

[2020-12-19 19:37] killua-eu commented on #78
Hi Daniel, any progress on this? I'm asking because this issue is closed and could be forgotten easily.

[2020-12-19 20:22] odan commented on #78
I have it on my to-do list. At the moment I am very busy.

[2020-12-25 16:19] odan commented on #78
Currently I'm trying to add this feature. Your suggested workaround with `Literal::from(...)` is tricky but it works on my dev machine. The "up" direction works so far, but there are some other problems now:

* Changing a generated column would not work with the current logic of the migration generator because a generated column must be dropped and then created to change it. All other fields can b

[2021-01-16 20:13] JoyceBabu commented on #54
I am no longer able specify a custom schema adapter, since `GenerateCommand` class has been declared final.  Can you make the Schema Adapter class configurable?

[2021-02-03 10:13] killua-eu commented on #78
Hey @odan , sorry for my late reaction, I've been really busy. I personally wouldn't mind a partial support for this (meaning at least creating the generated columns). Or would maybe `$table->getColumn('column1')->getType();` help to work with the Literal type differently? I'm aware this would feel hackish to have a specific way how to deal with this, but it feels like an easier way then going raw

[2021-02-03 10:15] killua-eu commented on #91
I tried and failed miserably (to generate smaller migrations). I'm too unstructured when updating databases and have a tendency to work on several things in parallel. This would definitely help my more chaotic workflow.

[2021-02-03 11:21] killua-eu commented on #78
Just a remark: I noticed that dropping the column is required only when changing the `STORED` status of the column. Changing existing normal columns into generated stored columns with

[code]

will work, but trying to change

[code]

will fail with

[code]

Similarly, changing a VIRTUAL column into a VIRTUAL column with a different json path, it will work just fine . Basicall only changing STORED/

[2021-02-07 20:44] odan commented on #93
Done

[2021-02-07 20:44] #93 closed

[2021-02-07 23:36] ashuradev opened #95 "Exporting triggers"
I suggest the idea of ​​exporting triggers.

For example:

[code]

[2021-02-08 10:52] odan commented on #95
Good idea. I'm planning to add support for native SQL commands where Phinx does not provide a (full) abstraction. See #80
I put it on the list.

[2021-02-14 22:21] odan commented on #78
Phinx is a very good tool, but it also has its limitations.
I just noticed that the requirements of the people and the features of Phinx are getting further and further apart.
Therefore I play with the thought to generate only pure SQL in the next major version. This SQL would then be generated for an up and down method. What do you think about this idea?

[2021-02-15 10:06] killua-eu commented on #78
Absolutely makes sense. I've been using phinx mainly because there wasn't any other maintained database migration tool in the php ecosystem and it was still quite a pain to use until your project appeared.

The things I appreciated about phinx is the change() method while I was still writing migrations manually. Many other things feel unnecessarily abstracted away towards making phinx hard to use

[2021-02-28 14:08] #80 closed

[2021-02-28 14:17] odan commented on #78
I have come to the conclusion that this tool should only offer features that are also supported by Phinx. So as long as Phinx does not support generated columns, this migration generator will not support it. I tried to generate SQL diffs, but that doesn't make sense since Phinx should be responsible for that task. So I'm sorry to close this request, but the work and time involved would be too much

[2021-02-28 14:17] #78 closed

[2021-02-28 14:19] odan commented on #95
I'm sorry. Triggers are not supported by Phinx, so this feature cannot be added to the migrations-generator.

[2021-02-28 14:19] #95 closed

[2021-05-03 11:15] TiredFingers opened #97 "Where can I find initial schema.php file?"
Usage
Generating migrations
The first run generates an initial schema and a migration class. The file **_schema.php_** <== where is this file?

[2021-05-03 14:44] TiredFingers opened #98 "Inconsistency after the migration process"
https://github.com/odan/phinx-migrations-generator/blob/81eca42a54dae99d5b10c4a16f5fd1254daf9be8/src/Migration/Adapter/Generator/PhinxMySqlColumnOptionGenerator.php#L203

When I use tinyint column type, I can set limit less than 4. Maybe we should use something like

`min(INT_TINY, $column_data['LIMIT'])`

instead of just mapping types?

[2021-05-03 17:50] odan commented on #97
See [here](https://github.com/odan/phinx-migrations-generator#migration-configuration).
By default, it's `%%PHINX_CONFIG_DIR%%/db/ migrations/schema.php`.
You can change it with the `schema_file` option.

Example:

[code]

[2021-05-03 19:06] odan commented on #98
The term "limit" is a bit confusing in the context. See [here](https://phinx.readthedocs.io/en/latest/migrations.html#limit-option-and-mysql)

In Phinx the "limit" option defines a more specific integer type when the main type is "integer".

Example:

[code]

[2021-05-03 19:27] odan commented on #98
I just fixed a Bug in combination with bigint(20). There was a incorrect mapping.

[2021-05-03 19:32] odan commented on #98
The type `tinyint(1)` and other lengths like `tinyint(4)` are already supported. See [this test](https://github.com/odan/phinx-migrations-generator/blob/master/tests/PhinxGeneratorTest.php#L153-L154)

Please provide an example with (the MySQL version) if this is not working.

[2021-05-04 05:47] TiredFingers commented on #97
Thanks, I saw this part of readme but after first generate call I don't have such. Is it ok?

[2021-05-04 05:57] TiredFingers commented on #98
Thanks for the answer
I think I put it wrong.
When I working with mysql, in phpmyadmin when adding new column, I can choose tinyint data type and set limit to 2. But when I tried to generate schema based on this field, I have tinyint(4) instead of 2

mysql 5.7.21 in docker
windows 10x64
php 7.3

[2021-05-04 07:16] odan commented on #98
This could also be an issue with phinx.
Can you post a code snipped from the generated php code? (just the code from the affected column).

[2021-05-04 07:20] odan commented on #97
No, this is not Ok. Make sure that the path already exists.

[2021-05-04 08:11] TiredFingers commented on #98
Print screen of table structure: https://1drv.ms/u/s!AkGt2kBeBd6yguBQzQASZVC1w4SiyA?e=AHbS0D

`->addColumn('status', 'integer', [
                'null' => true,
                'default' => '0',
                'limit' => MysqlAdapter::INT_TINY,
                'comment' => 'Статус',
                'after' => 'briefing',
            ])`

ps - sure, it can be issue with phinx. I wanted you to und

[2021-05-04 08:51] odan commented on #98
I just checked the Phinx documentation and other sources in the web.
As far as I know this is not supported by Phinx. See [here](https://www.google.com/search?q=phinx+tinyint+length&oq=phinx+tinyint+limit). As long this is not supported, the generator cannot create such options.
Do you have a working Phinx example for `tinyint(4)`?

[2021-05-04 09:40] TiredFingers commented on #98
Yes I have

[2021-05-04 11:18] odan commented on #98
Can you post the working code snippet?

[2021-05-04 11:25] TiredFingers commented on #98
If I rightly undestand your question - you need working code snippet which will create field with type `tinyint(4)`. If it's correct - it's from above

`->addColumn('status', 'integer', [ 'null' => true, 'default' => '0', 'limit' => MysqlAdapter::INT_TINY, 'comment' => 'Статус', 'after' => 'briefing', ])`

or you want to see something defferent?

[2021-05-04 12:27] odan commented on #98
Ok, thanks, I'll take a look at that.

[2021-05-05 18:31] odan commented on #98
I think this question is still a little but unclear.

Example 1:

[code]

Output:

[code]

Example 2:

[code]
Generated sql
[code]

In phinx the default length/limit for tinyint is 4.

You try to get an SQL column definition like `tinyint(2)`, correct?

As far as I know it's not possible / supported by Phinx to define other tinyint lengths like 1 and 4.

Phinx only supports tinyint(1) (alias "bool

[2021-05-05 18:44] TiredFingers commented on #98
my mistake. I don't have such example, I don't understanded you properly, sorry. You right, phinx don't support such behavior. Do you think I need open same issue in phinx?

[2021-05-05 19:35] odan commented on #98
Yes, I think this  is not supported by Phinx. You may try to create an issue [here](https://github.com/cakephp/phinx/issues) and ask how to declare `tinyint(2)`.

[2021-05-05 19:37] TiredFingers commented on #98
Ok, thanks

[2021-05-05 19:37] #98 closed

[2021-05-06 13:26] odan commented on #97
According to #98, it seems that your schema.php file now exists. Is this correct?

[2021-05-08 07:06] TiredFingers commented on #97
No but don't have enough time to play with. Thanks for the help, I will reopen if you recommendations will not help

[2021-05-08 07:06] #97 closed

[2021-05-28 21:07] jordanfloyd commented on #97
I'm having a similar issue. Trying to use this to generate a starting point for using Phinx, and it doesn't create the schema file. The command ends in "aborted". Did I miss something in the setup?

[2021-05-28 21:26] jordanfloyd commented on #97
figured it out: using the config setting "generate_migration_name" => true does not seem to work on the initial run. There was no helpful error message, the process just aborted. After I removed that, it prompted me and I was able to generate the schema and initial migration.

[2021-05-29 09:32] odan commented on #97
@jordanfloyd Thank you for figuring that out. I will take a look at it if I have time.

[2021-08-02 09:23] davidmtz-95 opened #101 "Single database - tenant database generator"
Hello! I’m new using migrations and I have been working in a single database tenant proyect, from what i know migrations help us to create a database from a clean proyect and versioning the databases changes. But for now i’m trying to create automatically a database and user privilegies for each tenant registered. (Getting only fail attempts) So any ideas for implement your library in my proyect o

[2021-08-02 09:37] #91 closed

[2021-08-02 18:49] #101 closed

[2021-09-23 21:26] besir opened #103 "Invalid default value for column of type bit"
Hello,
I am trying Phinx migrations generator and I have successfully generated migration, but its no executable.

Environment:
MySQL 5.7.34
PHP 8.0
Phinx Generator: dev-master ( 59261c0a21d1e2a1523bdddd5f100e69e90b2ac1 )
Phinx: 0.12.8

Problem:
If I use column type 'bit' with default value `b'0'` then generator makes something like this:

[code]
but this is not working. Bit default value must be

[2021-09-25 22:39] odan commented on #103
This bug has been fixed. Thanks for reporting.

[2021-09-25 22:39] #103 closed

[2022-01-12 22:08] bkrnetic opened #105 "[MariaDB] Setting NULL as default value is ignored"
Hello,

I use MariaDB 10.3.31 version and migration ignores `null` as default value.

I use it this way:

[code]

It doesn't work for timestamp fields either...

Are you familiar with this issue? Is it maybe something related to MariaDB?

To me it seems like a basic feature. 🤷‍♂️  Hopefully somebody can help me out!

Best regards,
Bruno

[2022-01-13 07:22] odan commented on #105
Is your code example part of the generated PHP code?
Did you run this code and phinx did not create a column with null? If yes, it could be related to phinx itself.

[2022-01-13 13:13] bkrnetic commented on #105
Damn I completely mixed up repositories 🤦‍♂️. I should have posted it to https://github.com/cakephp/phinx/issues

Please ignore this and close the issue!

[2022-01-13 13:13] #105 closed

[2022-02-22 05:03] decrypted opened #106 "mysql8 - getDatabaseSchemata returns DEFAULT_CHARACTER_SET_NAME default_character_set_name"
hey,

MySqlSchemaAdapter has troubles with mysql8.0.

My original idea to config PDO::ATTR_CASE as lowerkey is not an option as phinx itself depends too heavily on it being natural.

Best idea so far is

public function getSchema($tableNames = null): array

to run

$result['database'] = array_change_key_case($this->getDatabaseSchemata($this->dbName),CASE_LOWER);

open for other ideas

The problem

[2022-02-22 09:54] odan commented on #106
Hi!

Can you explain this issue a little more in detail?
What is the actual problem or the difference in MySQL 8 with the database name?
I think we cannot just change the database name for all users to lower-case.

[2022-02-22 11:04] decrypted commented on #106
`   private function getDatabaseSchemata(string $dbName): array
    {
        $sql = 'SELECT
            default_character_set_name,
            default_collation_name
            FROM information_schema.SCHEMATA
            WHERE schema_name = %s;';
        $sql = sprintf($sql, $this->quote($dbName));

        return $this->createQueryStatement($sql)->fetch();
    }`

for MYSQL8 the default_chara

[2022-02-22 17:48] odan commented on #106
Thanks for reporting this bug. This should now be fixed in the latest version. Please update and tell me if it works now.

[2022-02-28 10:28] #106 closed

[2022-08-05 00:22] aFaneca opened #108 "Generate DB from schema.php file"
Consider a situation where a schema.php file is already present, with all the correct entities and attributes, but the database is still empty.
If I currently choose to generate a new migration file, your software uses the database as the single source of truth, so the generated migration file will have instructions to drop all of the tables present in schema.php (since they are not present in the

[2022-08-05 11:56] odan commented on #108
The `schema.php` file contains all table- and column-definitions of the database after the new migration script has been generated.

Here you can find more information about the usage: https://github.com/odan/phinx-migrations-generator/issues/8#issuecomment-295460712

[2022-08-07 09:44] aFaneca commented on #108
I understand that fully. My question is: can I use the schema.php has the base class to generate the migration file, instead of it being the DB itself?

Here's an example: let's say I have a DB with 3 well defined entities. Then, I use your software to generate an initial schema.php file which contains the definition of those 3 entities and their respective attributes.
Imagine that, then, I drop e

[2022-08-07 09:58] odan commented on #108
I'm not sure why you want to use the schemap.php as "source" and not the generated phinx migration class?

The idea behind phinx is to use the migration classes to migrate your database schema to the server.
This package is an "extension" that adds the missing "diff" command to phinx.
The `schema.php` file is just a "snapshot" to generate create a new migration class from the last status.

If you

[2022-08-07 10:53] aFaneca commented on #108
I understand if this out of scope in terms of your project, but I was thinking about a way of using migrations in 2 scenarios:

1. manage ongoing DB changes. Each new release has a set of migrations that I can run on production server to make the necessary schema changes
2. automate initial setup (e.g. Installing self-hosted project in new environment)

Scenario nr. 1 works as expected and your pr

[2022-08-07 19:41] odan commented on #108
The question is, why invent such a complex use case when phinx already has a solution for it?

Exactly for this reason, phinx stores all executed versions in the `phinxlog` table. When you start the `phinx migrate` command again, it will look for new migration files and starts from the latests version. So an error like `table x already exists` should not happen.

If your initial schema sql contain

[2022-08-08 09:35] #108 closed